html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  width: 100%;
}

.Counter, .Todo {
  margin: 10px 0; 
}
